{% extends 'base.html.twig' %}

{% block title %}Commande index
{% endblock %}

{% block body %}
	<h1>订购 - Commande</h1>

	<table class="table">
		<thead>
			<tr>
				{# <th>Id</th> #}
				<th>日期 - Date</th>
				<th>行动 - Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for commande in commandes %}
				<tr>
					<td>{{ commande.id }}</td>
					<td>{{ commande.date ? commande.date|date('Y-m-d H:i:s') : '' }}</td>
					<td>
						<a href="{{ path('commande_show', {'id': commande.id}) }}">显示销售订单 - Afficher la commande</a>
						<a href="{{ path('commande_edit', {'id': commande.id}) }}">修改订单 - Editer la commande</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="3">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('commande_new') }}">Create new</a>
{% endblock %}
