{% extends 'base_index_plats.html.twig' %}

{% block title %}
	菜品一览  - Liste des plats
{% endblock %}


{% block head %}
	<link type="text/css" rel="stylesheet" href="{{ asset('css/style.css') }}">
{% endblock %}

{% block body %}
	{% block header %}{% endblock %}
	<h1>菜品一览  - Liste des plats</h1>

	<main class="totalite-palts">
		{% for  categoriePlat in categoriesPlats %}
			{% if categoriePlat.plats is not empty %}
				<div class="plats-categorie">
					<h2 id="{{ categoriePlat.id }}" class="titretypeplat">{{ categoriePlat.nom }}</h2>
					<div class="flexbox-container">
						{% for plat in categoriePlat.plats %}

							<div
								class="card">

								<!-- card-header -->
								<div class="card-header">
									<h4>
										{{ plat.nom }}
									</h4>
								</div>
								<!-- card-body -->
								<div class="card-body">
									<img class="w-100" src="{{ asset( plat.image ) }}" alt="{{ plat.nom }}">
								</div>
								<!-- card-footer -->
								<div class="card-footer">
									<p>{{ plat.prix }}
										{% if app.user %}
											{% if app.user.roles[0] is same as "ROLE_ADMIN" %}
												-
												<a href="{{ path('plat_show', {'id': plat.id}) }}">
													显示</a>
												/
												<a href="{{ path('plat_edit', {'id': plat.id}) }}">修改</a>
											{% endif %}
										{% endif %}
									</p>
								</div>


							</div>
						{% endfor %}
					</div>
				</div>
			{% endif %}
		{% endfor %}
		{# </div> #}
	</main>

	<footer>
		<a class="" href="{{ path('plat_new') }}">
			<button class="">添加一个菜 - Ajouter un plat</button>
		</a>
	</footer>
{% endblock %}
